<div class="content-container">
  <h1>Welcome to RuneScape Progress!</h1>

  <p>
    This is a <a href="https://www.runescape.com/" target="_blank">RuneScape</a> progress tracker with the following features:
  </p>
  <ol>
    <li>All of the RuneScape achievements tracking associated to an account.</li>
    <li>Deep linking to <a href="https://runescape.wiki/" target="_blank">RuneScape Wikia</a> and <a href="https://discord.gg/uUUMPbd" target="_blank">Achievement Help Discord</a> for more information and help.</li>
    <li>Responsive so that it works fine in any device or viewport size.</li>
    <li>Anonymous account support which can be upgraded to proper accounts should you want to keep track in different devices or sessions.</li>
  </ol>

  <h2>Open source</h2>
  <p>
    Feel free to contribute with code or issues at <a href="https://github.com/alfaproject/rs-progress" target="_blank">https://github.com/alfaproject/rs-progress</a>.
    If GitHub is not your thing, you can message <b>@aLfa#4158</b> at <a href="https://discord.gg/uUUMPbd" target="_blank">Achievement Help Discord</a> for feedback or bug reports.
  </p>

  <h2>Road map:</h2>
  <ul>
    <li>Add other progress items like titles and sub-achievements.</li>
    <li>Persist settings in user account and browser storage.</li>
    <li>Make the site more pretty. I suck at design, so would appreciate some help.</li>
    <li>Add support for achievement chaining.</li>
    <li>Add support to fetch account details and automatically tick some achievements.</li>
    <li>Add progress leaderboards.</li>
  </ul>

  <p>
    Copyright &copy; 2018 <a href="http://joaodias.eu/" target="_blank">Joao Dias</a> (RSN: aLfa)
  </p>
</div>
